/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Amaranth&family=Lato:wght@300&family=Montserrat&family=Merriweatherfamily=Open+Sans&family=Oswald&display=swap');

/* body was Lato and Header Oswald*/
/* font-family: 'Amaranth', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;*/
/* font-family: 'Oswald', sans-serif; 
font-family: 'Merriweather', serif;  */

* {
    margin: 0;
    padding: 0;
    border: none;
  }

body {
    font-family: Amaranth, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
    background-color: #FFFAFA
}

/* headings and logo */

h1, h2 {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #252525;
} 

#logo {
   float: left;
   font-size: 200%;
   margin-left: 30px;
}

p {
    font-family: Oswald, sans-serif;
}

#menu{
    font-size: 110%;
    letter-spacing: 4px;
}

#menu ul{
    float: right;
}

#menu, #logo {
    line-height: 75px;
}

#menu li{
    float: left;
    list-style-type: none;
    margin-right: 30px; 
}

#menu a{
    text-decoration: none;
    color: inherit;
}

#menu a:hover{
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

#hero-outer {
    height: 600px;
    width: 100%; 
    overflow: hidden;
    position: relative;
}

#cover-text, #cover-text h2 {
    color: #fff;
}

#cover-text, #cover-text h2 {
    text-align: center
}


#hero-image {
    height: 600px;
    width: 100%;
    background: url(https://res.cloudinary.com/dlsbkq7mw/image/upload/v1652294694/red-roots-farm/landscape2_sgdgdk.jpg) no-repeat center center; 

    /* animates zoom effect on loading page*/
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}


/* creates the level of zoom for hero imnage*/
@keyframes hero-zoom {
    from{
        transform: scale(1);
            }
    to {
        transform: scale(1.1);
    }
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

#tagline {
    text-align: center;
    margin: 20px 0;
    font-size: 280%; 
    border-style: solid; 
}

#circle-container {
    width: 300px;
    height: 300px;
    /* padding: 10px; */
    /* border-style: solid;  */
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-tomandclaire {
    background: url('../images/ethos-image_small.png') no-repeat center center;
    height: 100%;
    border-radius: 80%;
    margin-top: 30px;
}

/* experiences*/

#experiences {
    background-image: url("https://res.cloudinary.com/dlsbkq7mw/image/upload/a_-90/v1652176383/red-roots-farm/flowers_zauxbw.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden; 
}

#experiences div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, .6);
    width: 20%;
    height: 300px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;

        /* /background: red;   
        width: 30%; 
        flex-basis: 100%;
        align-items: center;
        border-style: double; 
        flex-direction: column;  */

}

#experiences h2 {
    color: #fafafa;
}

/* footer */
footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}


.social-networks i {
    font-size: 130%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

#photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

#photos > img {
    width: 100%;
}

/* Form */

.form-section {
    clear: left;
    background: url("https://res.cloudinary.com/dlsbkq7mw/image/upload/v1652176336/red-roots-farm/tom-claire_qfndig.jpg");
    background-size: cover;
    background-position: center;
    height: 900px;
}

.contact-form {
   margin: 70px 30% 0 0;
   color: #fff;
   background-color: rgba(60, 60, 60, 0.6);
   max-width: 600px;
   position: absolute;
   left: 2%;  
   padding: 40px;
   border-radius: 10%;
}

.contact-form > h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.form-label {
    color: #fafafa;
    letter-spacing: 2px;
    /* font-size: 3em; */
}

.text-input  {    
    color: black;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid black;
    border-radius: 4px;
    font-family: 'Lato', sans-serif; */
}

.text-input,.textarea-input:hover {
    border-color: rgba(152, 179, 60, 0.6);
}


.textarea-input  {    
    color: black;
    margin: 5px 0 20px 0;
    border: 1px solid black;
    border-radius: 4px;
    font-family: 'Lato', sans-serif;  */
} 

/* textarea {
    text-size-adjust: none;
 } */


/* textarea {
    font-family: inherit;
    font-size: inherit;
 } */

.submit-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: rgba(152, 179, 60, 0.6);
    color: #fafafa;
    display: block;
}

.submit-button:hover {
    background-color: #fafafa;
    color: rgba(152, 179, 60, 0.6);
}


/* Media queries */

/* For larger to medium screens size from 1200px wide and down */
@media screen and (max-width: 1200px) {
    #club-ethos {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }

    #welcome {
        padding: 30px 0;
        margin: 0;
    }

    #left-about, #right-about {
        width: 100%;
        float: left;
        padding: 0;
    }

    #center-about {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }

    #times > div {
        width: 100%;
        clear: both;
        height: 150px;
        padding: 0;
    }

    hr {
       display: none; 
    }

}

/* For medium screens size from 950px wide and down */
@media screen and (max-width: 950px) {

    /* For medium screens size from 950px wide and down */

    /* Push Nav items below and left of logo */
        #menu {
            clear: left;
            float: left;
            margin-left: 30px;
            margin-bottom: 20px;
            line-height: 25px;
        }

    /* Only show 3 images together for smaller screen size */
        #photos {
            column-count: 3;
        }

    }

    /*For small screen sizes 800px and down*/
    /* Only show 1 images together for smallest screen size */ 
    @media screen and (max-width: 800px) {
         #photos {
            column-count: 1;
        }
    }


    .hero {
        padding: 1em;
        /* /* background-color: #444;
        /* background-image: url("../images/berries.jpg");
        background-blend-mode: multiply;
        background-size: cover; */
        /* height: 100vh;
        padding: 1em;
        color: white; */
    
        /* display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; */ 
    }
    
    .about-points {
        padding: 2vh 0;
        /* padding: 2vh 200px 200px 0px; */
        text-align: left;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        /* /border-style: solid;  */
     }

     .col-right img{
         height: auto;
         width: auto;
     }
    
    @media (min-width: 40rem) {
        .about-points {
            flex-direction: row; 
        }
    }

    .col-left {
        /* background: red;   */
        /* width: 30%; */
        flex-basis: 20%;
        /* border-style: double; */
        /* margin-top: 40px; */
    }

    .col-right {
        /* background: red;   */
        /* width: 30%; */
        flex-basis: 75%;
        align-items: center;
        /* border-style: double; */
    }
    
    
    .about-points {
        /* background: red;  */
        /* width: 30%; */
        flex-basis: 30%;
    }


    .col-right p{
        font-family: 'Oswald', sans-serif;
        font-family: 'Courier New', Courier, monospace; 
        font-family: 'Amaranth', sans-serif;
        font-family: 'Open Sans', sans-serif;
        font-family: 'Montserrat', sans-serif;
        font-family: 'Courier New', Courier, monospace; 
        font-family: 'Oswald', sans-serif; 
        margin-top: 20px;
        border-radius: 2px;
        padding: 15px 32px 15px 32px;
        text-align: left;
        font-size: 130%;
        line-height: 1.4;
        /* word-spacing: 10px; */
        /* background-color: pink; */
        /* background-color: rgba(152, 179, 60, 0.6); */
        /* color: #fafafa; */
        display: block;   
        /* position: absolute;        */
    }

    .col-right ul,ol{
        font-family: 'Oswald', sans-serif;
        font-family: 'Courier New', Courier, monospace; 
        font-family: 'Amaranth', sans-serif;
        font-family: 'Open Sans', sans-serif;
        font-family: 'Montserrat', sans-serif;
        font-family: 'Courier New', Courier, monospace; 
        font-family: 'Oswald', sans-serif; 
        margin-top: 20px;
        border-radius: 2px;
        padding: 15px 32px 15px 32px;
        text-align: left;
        font-size: 130%;
        line-height: 1.4;
        /* word-spacing: 10px; */
        /* background-color: pink; */
        /* background-color: rgba(152, 179, 60, 0.6); */
        /* color: #fafafa; */
        display: block;   
        /* position: absolute;        */
    }
   
    .cta {
        background-image: url("../images/ceremony.jpg");
        background-size: cover;
        padding: 10vh 0;
        color: white;
        display: flex;
        justify-content: flex-end;
    }
    
    .cta-text {
        flex-basis: 100%;
        padding: 0 2em;
        @media (min-width: 40rem) {
            flex-basis: 50%
        }
    }