/* Import fonts from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Merriweather+Sans:wght@300&display=swap");

/* Following convention remove default settings for padding, margin and border for all elements and instead set to zero */
* {
    margin: 0;
    padding: 0;
    border: none;
  }

/* Set defaults for body text, font family:'Merriweather Sans' note background colour is Snow as opposed to stark white (design choice)  */
body {
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
    background-color: #FFFAFA
}

/* Style Headings */
/* Set defaults for headings, font family: 'Lato' but also provide sans-serif as backup font*/
h1, h2 {
    font-family: 'Lato', sans-serif; 
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #252525;
} 


/************************************************************ Style Header (Logo and Navigation Menu) *************************************************************/
/* Style Logo */
#logo {
   float: left;
   font-size: 200%;
   margin-left: 15px;
}

/* Set defaults for paragraph text, font family:'Merriweather Sans' (same as body)*/
p {
    font-family: 'Merriweather Sans', sans-serif;  
} 

/* Style Navigation links  */
#menu{
    text-transform: uppercase;
    font-size: 110%;
    letter-spacing: 3px;
}

#menu ul{
    float: right;
}

/* Set matching line height to ensure horizontal alignment of Logo and Navigation Menu in header */
#menu, #logo {
    line-height: 75px;
}

/* Set menu line items to float left and remove list style type */
#menu li{
    float: left;
    list-style-type: none;
    margin-right: 25px; 
}

/* Remove default underline for anchor elements and inherit color from body */
#menu a{
    text-decoration: none;
    color: inherit;
}

/* Set up hover pseduo class for anchor element to set bottom border on hover */
#menu a:hover{
    border-bottom: 1px solid #3a3a3a;
}

/* Sets bottom border for active elements */
.active {
    border-bottom: 1px solid #3a3a3a;
}

/************************************************************ Style Hero Image *************************************************************/

/* Set appearance of hero-outer section which contains hero-image (same height and width dimensions of hero image)*/
#hero-outer {
    height: 600px;
    width: 100%; 
    overflow: hidden;
    position: relative;
}

/* Settings for hero-image - provides background image and also animation setting for zoom effect */
#hero-image {
    height: 600px;
    width: 100%;
    background: url("https://res.cloudinary.com/dlsbkq7mw/image/upload/v1653402365/redrootsfarm/landscape2_mfdvuj.jpg") no-repeat center center; 
    
    /* animates zoom effect on loading page*/
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}


/* Creates the level of dynamic zoom for hero image*/
/* Image scales up by 10% (100% to 110% )*/
@keyframes hero-zoom {
    from{
        transform: scale(1);
            }
    to {
        transform: scale(1.1);
    }
}


/******************************************Styling Index.html  ********************************************************************************/

/* Set appearance of tagline - (Design choice: put solid border around it)*/
#tagline {
    text-align: center;
    margin: 10px 0;
    font-size: 250%; 
    border-style: solid;  
}

/* Set appearance of container div and image within of Tom and Claire (Design choice: make the image circular) */
#circle-container {
    width: 300px;
    height: 300px;
    padding: 5px; 
    border-width: 1px;
    margin: 0 auto;
}

#circle-tomandclaire {
    background: url("https://res.cloudinary.com/dlsbkq7mw/image/upload/v1653488524/redrootsfarm/ethos-image_small_tkltoc.png") no-repeat center center;
    height: 100%;
    border-radius: 100%;
    margin-top: 10px;
}

/* Using flexbox set appearance of About Points div - flex-direction is row to start but will change to column in media queries for responsiveness*/
.about-points {
    text-align: left;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
 }

/* Left column set to take up 20%*/
 .col-left {
    flex-basis: 20%;
 }

 /* Right column to take up 80%*/
.col-right {
    flex-basis: 80%;
    align-items: center;
    padding: 10px 
}

 /* Set appearance of paragraph content - text-align: justify*/
.col-right p{
    margin-top: 10px;
    margin: .8em;
    text-align: justify;
    font-size: 130%;
    line-height: 1.4;
    display: block;
}

 /* Set appearance of lists (ordered and unordered)*/
.col-right ul,ol{
    margin: .8em;
    padding-left: .8em;
    text-align: left;
    font-size: 130%;
    line-height: 1.4;
    display: block;       
}

/* Set appearance of list items */
.col-right li {
  margin: .5em
  }

/* Set appearance of images 
Initially want images to display horizontally across the page 
Media queries below will change display to block so that images go on to new lines (display vertically) */
.col-right img{
    padding: .2em;
    padding-right: 7em;
    width:100%;
    height:21em;
    max-width: 16em;
    min-width: 4em; 
    display: inline;
    margin-left: auto;
    margin-right: auto;
}


/* Set appearance of experiences section*/
/* Define background image*/
#experiences {
    background-image: url("https://res.cloudinary.com/dlsbkq7mw/image/upload/v1652816149/redrootsfarm/flowers_aj1yuy.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden; 
}

/* Define container to display experiences */
#experiences div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, .6);
    width: 20%;
    height: 300px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
}

/* Set h2 colour (again design choice = Snow colour)*/
#experiences h2 {
    color: #FFFAFA;
}

/* Set appearance of footer */
footer {
    height: 150px;
    text-align: center;
}

/* Set appearance of social network icons (again list items)  */
.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 130%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}
/******************************************End of Styling Index.html  ********************************************************************************/

/******************************************Styling Gallery.html  ********************************************************************************/


/* Set appearance of photos in Gallery - initially set columnn count to 4, this will change down to 3 and then 1 (smallest screen size) with media queries for responsiveness  */
#photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

#photos > img {
    width: 100%;
}

/******************************************Styling Contact Us.html (Form Section) ********************************************************************************/

/* Set background picture and attributes for form section */
.form-section {
    clear: left;
    background: url("https://res.cloudinary.com/dlsbkq7mw/image/upload/v1652816150/redrootsfarm/tom-claire_pm76ui.jpg");
    background-size: cover;
    background-position: center;
    height: 900px;
}

/* Set up contact-form element with curved edges, grey opague background, small bit of padding and max-width of 500px */ 
.contact-form {
    margin: 60px 30% 0 0; 
    color: #FFFAFA;
    background-color: rgba(60, 60, 60, 0.6);  
    max-width: 500px;
    position: absolute;
    left: 2%;   
    padding: 40px;
    border-radius: 4px;
 }

 /* Set up heading again using colour (Snow) and bottom margin  */
 .contact-form > h2 {
    color: #FFFAFA;
    margin-bottom: 20px;
}

 /* Set up labels again using colour (Snow) and letter spacing  */
.form-label {
    color: #FFFAFA;
    letter-spacing: 2px;
}


/* Set up text inputs (Name, Email Address) and text area(Commment Box) input field */
/* Set general properties first for both */
.text-input,.textarea-input{    
    color: black;
    margin: 5px 0 20px 0;
    border: 1px solid black;
    border-radius: 4px; /* Rounded borders */
    font-family: inherit;
    font-size: inherit;
}

/* Set specific properties next */
.text-input{
    width: 100%;
    height: 25px;
}

.textarea-input{    
    max-width: 100%; 
}


/* Set up hover pseduo class for text input fields to change background colour (green) on hover */
.text-input:hover,.textarea-input:hover {
    border-color: rgba(152, 179, 60, 0.6);
}

/* Set up button element - centered text, curved edges, padding and same colour scheme (green background and snow text)*/
.submit-button {
    margin-top: 20px;
    border-radius: 4px; /* Rounded borders */
    padding: 15px 32px; 
    text-align: center;
    font-size: 100%; 
    font-weight:bold;
    background-color: rgba(152, 179, 60, 0.6);
    color: #FFFAFA; 
    display: block; 
}

/* Set up hover pseduo class for button element to change colour (green to snow) on hover */
.submit-button:hover {
    background-color: #FFFAFA;     
    color: rgba(152, 179, 60, 0.6);
}

/******************************************End of Styling Contact Us.html (Form Section) ********************************************************************************/

/********************************************************************** Media queries (enabling responsive design for larger, medium and small screen sizes)********************************************************************************/

/******************************************  For larger to medium screens size from 1200px wide and down */
@media screen and (max-width: 1200px) {

    #experiences > div {
        width: 100%;
        clear: both;
        height: 150px;
        padding: 0;
    }

    /* Home page - Display Our Spaces images in block (display in new lines)*/
    .col-right img{
        display: block; 
        padding-right: 0;
    } 

}

/****************************************** For medium screens size from 950px wide and down */
@media screen and (max-width: 950px) {

    /* Home page - Push Nav items below and left of logo */
        #menu {
            clear: left;
            float: left;
            margin-left: 30px;
            margin-bottom: 20px;
            line-height: 25px;
        }

    /* Home page - Display Our Spaces images in block (display in new lines)*/
       .col-right img{
            display: block; 
            padding-right: 0;
        } 

    /* Gallery - Only show 3 images together in column for smaller screen size */
        #photos {
            column-count: 3;
        }

    }    


    /****************************************** For small screen sizes 800px and down*/
    @media screen and (max-width: 800px) {

        /* Home page - Reset background to cropped version of Hero image */
        #hero-image {
           background: url("https://res.cloudinary.com/dlsbkq7mw/image/upload/v1653473868/redrootsfarm/cropheroimage_rkchyr.jpg") no-repeat center center; 
        }

        /* Home page - Change flex direction from row to column */
        .about-points {
            flex-direction: column; 
        }

     
        /* Gallery - Only show single image in column for smallest screen size */ 
         #photos {
            column-count: 1;
        }

        /* Contact Us - shrink size of the Form section, contact form and comment box */
            .form-section {
            height: 650px;
        }
        
           .contact-form {
           max-width: 250px;
        }
             
          .textarea-input{
            max-width: 100%;
        }

    }

    /******************************************End of Media Queries ********************************************************************************/