@import url("https://fonts.googleapis.com/css2?family=Lato&family=Merriweather+Sans:wght@300&display=swap");

/* Following convention remove default settings for padding, margin and border for all elements and instead set to zero */
* {
    margin: 0;
    padding: 0;
    border: none;
  }

/* Set defaults for body text, note background colour is Snow as opposed to stark white (design choice)  */
body {
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
    background-color: #FFFAFA
}

/* Style Headings */
/* Set default font to Lato but also provide sans-serif as backup font*/
h1, h2 {
    font-family: 'Lato', sans-serif; 
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #252525;
} 


.sidebar {
    flex-basis: 20%;
    border-style: double; 
}

.main{
    flex-basis: 80%;
    align-items: center;
    border-style: double; 
    padding: 10px 
}

/************************************************************ Style Header (Logo and Navigation Menu) *************************************************************/
/* Style Logo */
#logo {
   float: left;
   font-size: 200%;
   margin-left: 30px;
}

/* p {
    /* font-family: 'Merriweather Sans', sans-serif;  */
/* } */ 

/* Style Navigation links  */
#menu{
    text-transform: uppercase;
    font-size: 110%;
    letter-spacing: 3px;
}

#menu ul{
    float: right;
}

/* Set matching line height to ensure horizontal alignment of Logo and Navigation Menu in header */
#menu, #logo {
    line-height: 75px;
}

#menu li{
    float: left;
    list-style-type: none;
    margin-right: 25px; 
}

/* Remove default underline for anchor elements and inherit color from body */
#menu a{
    text-decoration: none;
    color: inherit;
}

/* Set up hover pseduo class for anchor element to set bottom border on hover */
#menu a:hover{
    border-bottom: 1px solid #3a3a3a;
}

/* Sets bottom border for active elements */
.active {
    border-bottom: 1px solid #3a3a3a;
}

/************************************************************ Style Hero Image *************************************************************/

/* Set appearance of hero-outer section which contains hero-image (same height and width dimensions of hero image)*/
#hero-outer {
    height: 600px;
    width: 100%; 
    overflow: hidden;
    position: relative;
}

/* Settings for hero-image - provides background image and also animation setting for zoom effect */
#hero-image {
    height: 600px;
    width: 100%;
    background: url("https://res.cloudinary.com/dlsbkq7mw/image/upload/v1653402365/redrootsfarm/landscape2_mfdvuj.jpg") no-repeat center center; 
    
    /* animates zoom effect on loading page*/
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}


/* Creates the level of dynamic zoom for hero image*/
/* Image scales up by 10% (100% to 110% )*/
@keyframes hero-zoom {
    from{
        transform: scale(1);
            }
    to {
        transform: scale(1.1);
    }
}

/* hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
} */

/******************************************Styling Index.html  ********************************************************************************/

#tagline {
    text-align: center;
    margin: 10px 0;
    font-size: 250%; 
    border-style: solid;  
}

#circle-container {
    width: 300px;
    height: 300px;
    padding: 5px; 
    border-width: 1px;
    margin: 0 auto;
}

#circle-tomandclaire {
    background: url("https://res.cloudinary.com/dlsbkq7mw/image/upload/v1653488524/redrootsfarm/ethos-image_small_tkltoc.png") no-repeat center center;
    height: 100%;
    border-radius: 100%;
    margin-top: 10px;
}

/* .about-points h2 {
    text-align: center;
} */

.about-points {
    /* padding: 2vh 2px; */
    /* padding: 2vh 200px 200px 0px;  */
    text-align: left;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    /* border-style: solid;   */
 }

 /* .col-right img{
     height: auto;
     width: auto;
 } */

 .col-left {
    flex-basis: 20%;
    /* border-style: double;  */
}

.col-right {
    flex-basis: 80%;
    align-items: center;
    /* border-style: double;  */
    padding: 10px 
}

.about-points {
    flex-basis: 30%;
}


.col-right p{
    margin: .8em;
    /* border-radius: 2px; */
    padding: 5px;
    text-align: left;
    font-size: 130%;
    line-height: 1.4;
    display: block;
    border: #252525;
    /* border-style: double;    */
}

.col-right ul,ol{
    margin: .8em;
    /* border-radius: 2px; */
    /* padding: 10px; */
    padding-left: .8em;
    text-align: left;
    font-size: 130%;
    line-height: 1.4;
    display: block;   
    /* border: #252525;
    border-style: double; */
    
}

.col-right li {
  margin: .5em
  }


.col-right img{
    padding: .2em;
    padding-right: 7em;
    width:100%;
    height:21em;
    max-width: 16em;
    min-width: 4em; 
    display: inline;
    margin-left: auto;
    margin-right: auto;
}

/* .ourspaces{
    display: flex;
    justify-content:space-between;
    margin-left: auto;
    margin-right: auto; 
} */

/* experiences*/

#experiences {
    background-image: url("https://res.cloudinary.com/dlsbkq7mw/image/upload/v1652816149/redrootsfarm/flowers_aj1yuy.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden; 
}

#experiences div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, .6);
    width: 20%;
    height: 300px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
}

#experiences h2 {
    color: #fafafa;
}

/* footer */
footer {
    height: 150px;
    /* border: 2px solid black; */
    text-align: center;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 130%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}
/******************************************End of Styling Index.html  ********************************************************************************/

/******************************************Styling Gallery.html  ********************************************************************************/


/* Gallery */
#photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

#photos > img {
    width: 100%;
}

/******************************************Styling Contact Us.html (Form Section) ********************************************************************************/

/* Set background picture and attributes for form section */
.form-section {
    clear: left;
    background: url("https://res.cloudinary.com/dlsbkq7mw/image/upload/v1652816150/redrootsfarm/tom-claire_pm76ui.jpg");
    background-size: cover;
    background-position: center;
    height: 900px;
}

/* Set up contact-form element with curved edges, grey opague background, small bit of padding and max-width of 600px */ 
.contact-form {
    margin: 60px 30% 0 0; 
    color: #FFFAFA;
    background-color: rgba(60, 60, 60, 0.6); 
    max-width: 500px;
    position: absolute;
    left: 2%;   
    padding: 40px;
    border-radius: 10%; 
 }

 /* Set up heading with colour (Snow (white)) and bottom margin  */
 .contact-form > h2 {
    color: #FFFAFA;
    margin-bottom: 20px;
}

 /* Set up labels with colour (Snow (white)) and letter spacing  */
.form-label {
    color: #FFFAFA;
    letter-spacing: 2px;
}


/* Set up text inputs (Name, Email Address) and text area(Commment Box) input field */
/* Set general properties first for both */
.text-input,.textarea-input{    
    color: black;
    margin: 5px 0 20px 0;
    border: 1px solid black;
    border-radius: 4px;
    font-family: inherit;
    font-size: inherit;
}

/* Set specific properties next */
.text-input{
    width: 100%;
    height: 25px;
}

.textarea-input{    
    max-width: 100%; 
}


/* Set up hover pseduo class for text input fields to change background colour (green) on hover */
.text-input:hover,.textarea-input:hover {
    border-color: rgba(152, 179, 60, 0.6);
}

/* Set up button element - centered text, curved edges, padding and same colour scheme (green background and snow (white)text)*/
.submit-button {
    margin-top: 20px;
    border-radius: 25px;
    padding: 15px 32px; 
    text-align: center;
    font-size: 100%; 
    font-weight:bold;
    background-color: rgba(152, 179, 60, 0.6);
    color: #FFFAFA; 
    display: block; 
}

/* Set up hover pseduo class for button element to change colour (green to snow (white)) on hover */
.submit-button:hover {
    background-color: #FFFAFA;     
    color: rgba(152, 179, 60, 0.6);
}

/******************************************End of Styling Contact Us.html (Form Section) ********************************************************************************/

/********************************************************************** Media queries (enabling responsive design for larger, medium and small screen sizes)********************************************************************************/

/******************************************  For larger to medium screens size from 1200px wide and down */
@media screen and (max-width: 1200px) {
    #club-ethos {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }

    #experiences > div {
        width: 100%;
        clear: both;
        height: 150px;
        padding: 0;
    }

}

/****************************************** For medium screens size from 950px wide and down */
@media screen and (max-width: 950px) {

    /* Home page - Push Nav items below and left of logo */
        #menu {
            clear: left;
            float: left;
            margin-left: 30px;
            margin-bottom: 20px;
            line-height: 25px;
        }

    /* Home page - Display Our Spaces images in block */

       .col-right img{
            display: block; 
            padding-right: 0;
        } 

    /* Gallery - Only show 3 images together in column for smaller screen size */
        #photos {
            column-count: 3;
        }

    }    


    /****************************************** For small screen sizes 800px and down*/
    @media screen and (max-width: 800px) {

        /* Home page - Reset background to cropped version of Hero image */
        #hero-image {
           background: url("https://res.cloudinary.com/dlsbkq7mw/image/upload/v1653473868/redrootsfarm/cropheroimage_rkchyr.jpg") no-repeat center center; 
        }

        /* Home page - Change flex direction from row to column */
        .about-points {
            flex-direction: column; 
        }

     
        /* Gallery - Only show single image in column for smallest screen size */ 
         #photos {
            column-count: 1;
        }

        /* Contact Us - shrink size of the Form section, contact form and comment box */
            .form-section {
            height: 750px;
        }
        
           .contact-form {
           max-width: 250px;
        }
             
          .textarea-input{
            max-width: 100%;
        }

    }

    /******************************************End of Media Queries ********************************************************************************/